[submodule "dependencies/SFML"]
	path = dependencies/SFML
	url = https://github.com/SFML/SFML
[submodule "dependencies/yaml-cpp"]
	path = dependencies/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "dependencies/tmxparser"]
	path = dependencies/tmxparser
	url = https://github.com/andrewrk/tmxparser
